<header>
  <img src="img/eu.jpeg" alt="foto-perfil" width="130px" height="130px" loading="eager">

  <h1>Marcelo Henrique</h1>



</header>


<aside>
  <div class="container">
    <p>Back-end Java | Spring | Docker | Jpa | Micros Serviços</p>
    <p>Colina, São paulo, Brasil</p>
    <p>

      Trabalho com desenvolvimento back-end utilizando Java, focando em aplicações robustas e escaláveis. Minha
      experiência inclui o uso de frameworks como Spring para criar APIs e sistemas eficientes.
    </p>

    <nav>
      <ul>
        <li>
          <a href="pdf/cv.pdf" target="_blank" class="btn btn-primary">Download Cv</a>
        </li>

        <li>
          <a href="https://www.linkedin.com/in/marcelo-henrique-de-jesus-290a37202/" target="_blank"
            class="btn btn-secondary">LinkedIn</a>
        </li>
      </ul>

    </nav>
    <nav>
    </nav>

    <section>

      <figure>
        <img src="icons/whatsapp.svg" alt="">
        <figcaption>
          <a href="https://api.whatsapp.com/send/?phone=5517992842358&text&type=phone_number&app_absent=0">
          <strong>Envie uma menssagem para:</strong>
          <p>WhatsApp: (17) 9 9284 2358</p>
        </a>
        </figcaption>

      </figure>



      <figure>
        <img src="icons/mail.svg" alt="Iconte contato" width="22px" height="24px">


        <figcaption>
          <a href="mailto:hique1276@gmail.com" target="_blank">

            <strong>Envie um e-mail para:</strong>
            <p>hique1276&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>



    </section>

  </div>
</aside>
